<div class="container">
  <div class="match-detail-section">

     <div *ngFor="let match of match_detailcollection;let i=index">

    <!-- team-detail-header -->
    <div class="team-detail-header">
      <div class="row">
        <div class="col-md-4">
          <div class="local-team">
            <!-- <p>Barcelona</p> -->
            <p>{{match.localteam_name}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-status">
            <p class="big"> FT</p>
          </div>
          <div class="border"></div>
          <div class="team-score">
            <!-- <h2>1 - 0</h2> -->
            <div *ngIf="match.status==='FT'; else time1">
                <h2>{{match.localteam_score}} - {{match.visitorteam_score}}</h2> 
           </div>
          <ng-template #time1>
                <h2>{{match.time}}</h2>
          </ng-template>
          </div>
        </div>
        <div class="col-md-4">
          <div class="visited-team">
            <!-- <p>Real Sociedad</p> -->
            <p>{{match.visitorteam_name}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- team-detail-header end -->

    <!-- match-name -->
    
   
        <div class="row">
          <div class="col-md-12">
                <div class="panel with-nav-tabs panel-default">
                   <!-- tabs menu  -->
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                                <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                                <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                            </ul>
                    </div>
                     <!-- end tabs menu  -->
                <div class="row">
                  <div class="col-md-8">
                    <!-- tabs body  -->
                      <div class="panel-body">
                          <div class="tab-content">
         <!--******** Default tab 1  ************-->
                              <div class="tab-pane fade in active" id="tab1default">
                                  <div class="row">
                                      <div class="col-md-12">
                                            <p class="slogen">{{match.localteam_name}} v {{match.visitorteam_name}} Live Commentary, {{match.formatted_date}}</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <!-- key Events -->
                                            <div class="event theme-body-color">
                                                <h4>
                                                  <b>Key Events</b>
                                               </h4>
                                              
                                                <div *ngFor="let events of events_collection.reverse()">
                                                    <!-- localteam -->
                                              <div *ngIf="events.team=='localteam'">
                                                    <div class="keyevnt-detail">
                                                        <div class="row">
                                                          <div class="col-md-12 right-keyevnt">
                                                            <div class="col-xs-5 right-padding">
                                                              <div class="right-text-wrapper">
                                                                <div class="event-time">
                                                                <p class="small">{{events.minute}}</p>
                                                                </div>
                                                                  <div class="event-text-main">
                                                                    <p>{{events.player}}</p>
                                                                  </div>
                                                                  <div class="event-text-additional">
                                                                      <div *ngIf="events.assist_id !==''">
                                                                          <p class="small">{{events.assist}}</p>
                                                                      </div>
                                                                      <div *ngIf="events.assist_id ==''">
                                                                      <div *ngIf="events.type=='yellowcard'">
                                                                          <p class="small">{{events.type}}</p>
                                                                      </div>
                                                                      <div *ngIf="events.type=='redcard'">
                                                                          <p class="small">{{events.type}}</p>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                            </div>
                                            
                                                            <div class="col-xs-2 ic_img_middle">
                                                            
                                                                <div *ngIf="events.type=='yellowcard'">
                                                                    <img src="assets/img/ic_yellow_card.png">
                                                                </div>
                                                                <div *ngIf="events.type=='subst'">
                                                                    <img src="assets/img/ic_sub_on_off_both2.png">
                                                                </div>
                                                                <div *ngIf="events.type=='goal'" class="goal_img">
                                                                    
                                                                    <div class="event-time">
                                                                        <p class="small">{{events.result}}</p>
                                                                     </div>
                                                                     <div *ngIf="events.ic_event_penalty_scored">
                                                                        <img src="assets/img/ic_penalty_scored.png">
                                                                    </div>
                                                                    <div *ngIf="events.ic_event_own_goal">
                                                                        <img src="assets/img/ic_own_goal.png">
                                                                    </div>
                                                                    <div *ngIf="events.ic_event_goal">
                                                                        <img src="assets/img/ic_goal.png">
                                                                    </div>
                                                                  
                                                                </div>
                                                                <div *ngIf="events.type=='pen miss'">
                                                                    <img src="assets/img/ic_penalty_missed.png">
                                                                </div>
                                                                <div *ngIf="events.type=='redcard'">
                                                                    <img src="assets/img/ic_red_card.png">
                                                                </div>
                                                                <div *ngIf="events.type=='yellowred'">
                                                                    <img src="assets/img/ic_two_yellow_card.png">
                                                                </div>
                                                              
                                                            </div>
                                                            <div class="col-xs-5">
                                                            </div>
                                            
                                                          </div>
                                                        </div>
                                                      </div>
                                              </div>
                                              <!-- visitorteam -->
                                              <div *ngIf="events.team=='visitorteam'">
                                                  <div class="keyevnt-detail">
                                                      <div class="row">
                                                        <div class="col-md-12 left-keyevnt">
                                                          <div class="col-xs-5">
                                                          </div>
                                                          <div class="col-xs-2 ic_img_middle">
                                                             
                                                              <div *ngIf="events.type=='yellowcard'">
                                                                  <img src="assets/img/ic_yellow_card.png">
                                                              </div>
                                                              <div *ngIf="events.type=='subst'">
                                                                  <img src="assets/img/ic_sub_on_off_both2.png">
                                                              </div>
                                                              <div *ngIf="events.type=='goal'"  class="goal_img">
                                                                  <div class="event-time">
                                                                      <p class="small">{{events.result}}</p>
                                                                   </div>
                                                                   <div *ngIf="events.ic_event_penalty_scored">
                                                                      <img src="assets/img/ic_penalty_scored.png">
                                                                  </div>
                                                                  <div *ngIf="events.ic_event_own_goal">
                                                                      <img src="assets/img/ic_own_goal.png">
                                                                  </div>
                                                                  <div *ngIf="events.ic_event_goal">
                                                                      <img src="assets/img/ic_goal.png">
                                                                  </div>
                                                              </div>
                                                              <div *ngIf="events.type=='pen miss'">
                                                                  <img src="assets/img/ic_penalty_missed.png">
                                                              </div>
                                                              <div *ngIf="events.type=='redcard'">
                                                                  <img src="assets/img/ic_red_card.png">
                                                              </div>
                                                              <div *ngIf="events.type=='yellowred'">
                                                                  <img src="assets/img/ic_two_yellow_card.png">
                                                              </div>
                                                          
                                                          </div>
                                                          <div class="col-xs-5 left-padding">
                                                            <div class="left-text-wrapper">
                                                              <div class="event-time">
                                                                <p class="small">{{events.minute}}</p>
                                                              </div>
                                                              <div class="event-text-main">
                                                                <p>{{events.player}}</p>
                                                              </div>
                                                              <div class="event-text-additional">
                                                                  <div *ngIf="events.assist_id !==''">
                                                                      <p class="small">{{events.assist}}</p>
                                                                  </div>
                                                                  <div *ngIf="events.assist_id ==''">
                                                                      <div *ngIf="events.type=='yellowcard'">
                                                                          <p class="small">{{events.type}}</p>
                                                                      </div>
                                                                      <div *ngIf="events.type=='redcard'">
                                                                          <p class="small">{{events.type}}</p>
                                                                      </div>
                                                                    </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                           
                                              </div>
                                              
                                              <div>
                                                  <div class="keyevnt-detail kick_off">
                                                      <div class="row">
                                                        <div class="col-md-12 left-keyevnt">
                                                          <div class="col-xs-4">
                                                          </div>
                                                          <div class="col-xs-4 ic_img_middle">
                                                              <img src="assets/img/Kick_Off.png">
                                                              <p>Kick Off</p>
                                                          </div>  
                                                          <div class="col-xs-4">
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                              </div>
                                            </div>
                                              <!-- key Events end -->
                                        </div>
                                        <div class="col-md-6">
                                           <!-- status -->
                                            <div class="status theme-body-color">
                                                <h4>
                                                  <b>STATS</b>
                                                </h4>
                                      
                                              </div>
                                                 <!-- status end -->
                                          </div>
                                      </div>
                                
                              </div>
  <!--******* end Default tab 1 ***********-->
                              <div class="tab-pane fade" id="tab2default">
                                Default 2
                              </div>
                              <div class="tab-pane fade" id="tab3default">Default 3</div>
                              <div class="tab-pane fade" id="tab4default">Default 4</div>
                              <div class="tab-pane fade" id="tab5default">Default 5</div>
                          </div>
                      </div>
                    <!--end tabs body  -->
                  </div>
                     <!--side bar  -->
                  <div class="col-md-4">
                    <!-- primier -->
                      <div class="primier theme-body-color">
                          <h4>
                            <b>PRIMERA DIVISIÓN</b>
                          </h4>
                        </div>
                   <!-- primier end -->

                  </div>
                   <!--end side bar  -->
                </div>
                    


                </div>
            </div>
         
      </div>
    
    <!-- match-name end -->

    
  </div>

</div>
  </div>
  <!--container -->