<div class="container">
  <div class="match-detail-section">
    <!-- team-detail-header -->
    <div class="team-detail-header">
      <div class="row">
        <div class="col-md-4">
          <div class="local-team">
            <p>Barcelona</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-status">
            <p class="big"> FT</p>
          </div>
          <div class="border"></div>
          <div class="team-score">
            <h2>1 - 0</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="visited-team">
            <p>Real Sociedad</p>
          </div>
        </div>
      </div>
    </div>
    <!-- team-detail-header end -->

    <!-- match-name -->
    <div class="row">
      <div class="col-md-12">
        <div class="match-name">
          <h6>Barcelona v Real Sociedad Live Commentary, 20/05/2018</h6>
        </div>
      </div>
    </div>
    <!-- match-name end -->

    <!-- key Events -->
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="event">
          <h4>
            <b>Key Events</b>
          </h4>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_sub_on_off_both2.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">89'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Xabi Prieto</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Zurutuza</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 right-keyevnt">
                <div class="col-xs-5 right-padding">
                  <div class="right-text-wrapper">
                    <div class="event-time">
                      <p class="small">89'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Xabi Prieto</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Zurutuza</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                  <img src="assets/img/ic_sub_on_off_both2.png">
                </div>
                <div class="col-xs-5">
                </div>

              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 right-keyevnt">
                <div class="col-xs-5 right-padding">
                  <div class="right-text-wrapper">
                    <div class="event-time">
                      <p class="small">75'</p>
                    </div>
                    <div class="event-text-main">
                      <p>I. Rakitić</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Yellow Card</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                  <img src="assets/img/ic_yellow_card.png">
                </div>
                <div class="col-xs-5">
                </div>

              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_sub_on_off_both2.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">71'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Álvaro Odriozola</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Aritz Elustondo
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 right-keyevnt">
                <div class="col-xs-5 right-padding">
                  <div class="right-text-wrapper">
                    <div class="event-time">
                      <p class="small">57'</p>
                    </div>
                    <div class="event-text-main">
                      <p>L. Suárez</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Assist</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                  <img src="assets/img/ic_assist.png">
                </div>
                <div class="col-xs-5">
                </div>

              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_goal.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">71'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Philippe Coutinho</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Goal</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 right-keyevnt">
                <div class="col-xs-5 right-padding">
                  <div class="right-text-wrapper">
                    <div class="event-time">
                      <p class="small">53'</p>
                    </div>
                    <div class="event-text-main">
                      <p>A. Januzaj</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Yellow Card</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                  <img src="assets/img/ic_yellow_card.png">
                </div>
                <div class="col-xs-5">
                </div>

              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_sub_on_off_both2.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">63'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Canales</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">A. Januza</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_red_card.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">90' + 3'</p>
                    </div>
                    <div class="event-text-main">
                      <p>Patric</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Red Card</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 left-keyevnt">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2">
                  <img src="assets/img/ic_own_goal.png">
                </div>
                <div class="col-xs-5 left-padding">
                  <div class="left-text-wrapper">
                    <div class="event-time">
                      <p class="small">9'</p>
                    </div>
                    <div class="event-text-main">
                      <p>I. Perišić</p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Own Goal</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="keyevnt-detail">
            <div class="row">
              <div class="col-md-12 right-keyevnt">
                <div class="col-xs-5 right-padding">
                  <div class="right-text-wrapper">
                    <div class="event-time">
                      <p class="small">78'</p>
                    </div>
                    <div class="event-text-main">
                      <p>M. Icard </p>
                    </div>
                    <div class="event-text-additional">
                      <p class="small">Penalty Goal</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-2">
                  <img src="assets/img/ic_penalty_scored.png">
                </div>
                <div class="col-xs-5">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- key Events end -->

      <!-- status -->
      <div class="col-md-4">
        <div class="status">
          <h4>
            <b>STATS</b>
          </h4>

        </div>
      </div>
      <!-- status end -->

      <!-- primier -->
      <div class="col-md-4">
        <div class="primier ">
          <h4>
            <b>PRIMERA DIVISIÓN</b>
          </h4>
        </div>
      </div>
      <!-- primier end -->

    </div>
    <!-- match-detail-section -->
  </div>
  <!--container -->