<div class="container">
    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>All Groups</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="groupp-list-navbar">
                    <ul class="groups_list">
                        <li>Group A</li>
                        <li>Group B</li>
                        <li>Group C</li>
                        <li>Group D</li>
                        <li>Group E</li>
                        <li>Group F</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="groupp-list-navbar">
                        <table class=" table grouptable">
                            <thead>

                                <tr>
                                    <td>
                                        Pos
                                    </td>
                                    <td>
                                        Team
                                    </td>
                                    <td>
                                        P
                                    </td>
                                    <td>
                                        W
                                    </td>
                                    <td>
                                        D
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +/-
                                    </td>
                                    <td>
                                        PTS
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dsdsdsdgfhgfh
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dsdsdsdgfhgfh
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dsd
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dffds
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dsdsddfsdfsdfdsfdsfds
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        dsds
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        L
                                    </td>
                                    <td>
                                        +5
                                    </td>
                                    <td>
                                        12
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>